<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>エントリー登録ページ</em></b></h4>
  </div>
</div>


<div class="container">
<%= form_with(model: [@event, @entry], local: true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <div class="field mt-3">
    <b><%= f.label :family_name, "お名前（名字）" , class: "my-2" %></b><br/>
    <%= f.text_field :family_name, autofocus: true, class:"form-control", placeholder:"例）田中" %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :last_name, "お名前（名前）" , class: "my-2" %></b><br/>
    <%= f.text_field :last_name, class:"form-control", placeholder:"例）太郎" %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :j_family_name, "フリガナ（名字）" , class: "my-2" %></b><br/>
    <%= f.text_field :j_family_name, class: "form-control", placeholder:"例）タナカ" %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :j_last_name, "フリガナ（名前）" , class: "my-2" %></b><br/>
    <%= f.text_field :j_last_name, class: "form-control", placeholder:"例）タロウ" %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :entry_undergraduate, '学部', class: "my-2" %></b><br />
    <i class="fas fa-graduation-cap"></i>
    <%= f.select :entry_undergraduate, {'法学部': '法学部', '経済学部': '経済学部', '経営学部': '経営学部', '理工学部': '理工学部', '建築学部': '建築学部', '薬学部': '薬学部', '文芸学部': '文芸学部', '総合社会学部': '総合社会学部', '国際学部': '国際学部', '農学部': '農学部', '医学学部': '医学学部', '生物理工学部': '生物理工学部', '工学部': '工学部', '産業理工学部': '産業理工学部', '短期大学部': '短期大学学部', '通信教育部': '通信教育部'}, { include_blank: '学部を選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :entry_school_year, '学年', class: "my-2" %></b><br />
    <i class="fas fa-graduation-cap"></i>
    <%= f.select :entry_school_year, {'大学1回生': '大学1回生', '大学2回生': '大学2回生', '大学3回生': '大学3回生', '大学4回生': '大学4回生', '大学院生': '大学院生'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>
    <div class="field mt-3">
    <b><%= f.label :entry_student_nunber, "学籍番号" , class: "my-2" %></b><br />
    <i class="fas fa-user"></i>
    <%= f.number_field :entry_student_nunber, placeholder: "数字のみ入力", class: "form-control" %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :sex, '性別', class: "my-2" %></b><br />
    <%= f.select :sex, {'男': '男', '女': '女'}, { include_blank: '性別を選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  <div class="field mt-3">
    <b><%= f.label :entry_comment, "主催者へコメント" %></b><br/>
    <%= f.text_area :entry_comment , class: "form-control" %>
  </div>
    <%= f.submit "エントリー" ,class: "btn btn-primary col-4 offset-4 my-3" %>
  <% end %>
</div>
