<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>ユーザー一覧</em></b></h4>
  </div>
</div>


  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="card mt-5 border-4 mx-auto" style="width: 20rem;">
          <%= link_to user_path(user) do %>
          <% if user.user_image.attached? %>
            <%= image_tag user.user_image, class: "card-img-top mt-3" %>    
          <% else %>
            <%= image_tag("no-user-image.jpg", class: "card-img-top") %>
          <% end %>
        <% end %>
            <div class="card-body border-top border-2 mt-2 ">
              <p class="card-text h2 border-2 pb-2 border-bottom"><%= link_to user.nickname, user_path(user), class: "text-decoration-none" %></p>
              <p><%= user.undergraduate %><span class="ms-3"><%= user.school_year %></span></p>
              <p class="border p-1"><b>プロフィール：</b><br><%= user.profile %></p>
              <p>投稿数:<%= user.events.count %></p>
            </div>
            <p><%= link_to 'ユーザーページへ', user_path(user.id) %></p>
        </div>
      <% end %>
    </div>
  </div>





