<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>Cook詳細ページ</em></b></h4>
  </div>
</div>

<div class="container">
  <div class="myprofile row border w-50 mx-auto p-2 mt-2">
    <ul class="d-flex list-unstyled">
      <li class="text-start"><%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "card-img-top img-thumbnail w-50"%>
        <h3 class="text-start mt-1"><%= @user.nickname %></h3>
        <% if @user.id == current_user.id %>
          <p class="ms-5"><%= @user.email %></p>
        <% end %>
        </li>
        <li>
        <% if @user.profile.blank? %>
          <div class="profile-box border p-2 h-50 mt-1">プロフィールがありません。</div>
        <% else %>
          <div class="profile-box border p-2 h-50 mt-1"><%= @user.profile %></div>
        <% end %>
        <% if @user.id == current_user.id %>
          <div class="mt-3"><%= link_to '編集', edit_user_path(@user), class: "btn btn-primary order-2" %></div>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<% if @user.id == current_user.id %>
<div class="container">
  <h3 class="mt-3">あなたがエントリー中のイベント</h3>
  <div class="row">
    <% @events.each do |event| %>
      <div class="card mt-5 border mx-auto" style="width: 20rem;">
          <%= attachment_image_tag event, :event_image, class: "card-img-top" %>
            <div class="card-body border-bottom">
              <h5 class="card-title"><%= event.title %></h5>
            </div>
      <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item"><%= link_to event_path(event), class: "text-decoration-none text-dark" do %>
          <span class="card-text"><i class="fas fa-book"></i></span>このイベントを見る
          <% end %>
        </li>
      </ul>
        <p class="text-end"><time class="mh-100"><%= event.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</p>
      </div>
    <% end %>
  </div>
</div>
<% end %>




<div class="container">
<h3 class="mt-3">
    <% if @user.id == current_user.id %>
      あなたの投稿
    <% else %>
      <%= @user.nickname %>さんの投稿
    <% end %>
    </h3>
  <div class="row">
    <% @events.each do |event| %>
    <% if event.user_id == @user.id %>
      <div class="card mt-5 border mx-auto" style="width: 20rem;">
          <%= attachment_image_tag event, :event_image, class: "card-img-top" %>
            <div class="card-body border-bottom">
              <h5 class="card-title"><%= event.title %></h5>
              <p>エントリー者数：<%= event.entries.count %></p>
            </div>
      <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item"><%= link_to event_path(event), class: "text-decoration-none text-dark" do %>
          <span class="card-text"><i class="fas fa-book"></i></span>このイベントを見る
          <% end %>
        </li>
        <% if @user.id == current_user.id %>
        <li class="list-group-item"><%= link_to edit_event_path(event), class: "text-decoration-none text-dark" do %>
          <span class="card-text"><i class="fas fa-edit"></i></span>このイベントを編集する
          <% end %>
        </li>
        <li class="list-group-item"><%= link_to event_path(event), method: :delete, date: [confirm: "削除しますか？"], class: "text-decoration-none text-dark" do %>
            <span class="card-text"><i class="fas fa-trash-alt"></i></span>このイベントを削除する
          <% end %>
        </li>
      </ul>
          <% end %>
        <p class="text-end"><time class="mh-100"><%= event.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
