<div class="top1">
  <div class="main-image container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag asset_path("kindai-3.png",  alt: "近大Events"), class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <img src="assets/kindai-5.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/kindai-6.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



  <% if user_signed_in? %>
  <div class="container my-auto">
    <h5 class="wellcome-message container text-center mt-4 border-bottom border col-4 p-3">
      ようこそ<b>近大イベントへ！</b>
    </h5>
    <div class="d-grid gap-2 col-2 mx-auto  mt-1 mb-5">
      <span class="text-center mt-3">さぁ イベントに参加しよう▼</span>
      <button class="btn1 rounded-pill border border-light py-2" type="button"><%= link_to 'イベントに参加', events_path , method: :get, class: "text-light text-decoration-none" %></button>
      <button class="btn2 rounded-pill border border-primary py-1 mt-2" type="button"><%= link_to 'イベントを主催', new_event_path , method: :get , class: "text-decoration-none" %></button>
    </div>
  <% else %>
    <h5 class="container text-center mt-4 border-bottom border-3 col-4">
      <b>近大生</b>のイベントに今すぐ参加しよう！
    </h5>
    <div class="d-grid gap-2 col-2 mx-auto  mt-1 mb-5">
      <span class="text-center mt-3">新規の方はコチラから▼</span>
      <button class="btn1 rounded-pill border border-light py-2" type="button"><%= link_to '新規登録', new_user_registration_path , method: :get, class: "text-light text-decoration-none" %></button>
      <button class="btn2 rounded-pill border border-primary py-1 mt-2" type="button"><%= link_to 'ログイン', new_user_session_path , method: :get , class: "text-decoration-none" %></button>
    </div>
  <% end %>

  <div class="container mt-5 pb-5 border-top border-3">
    <h2 class="text-center mt-5 mb-5">過去のイベント</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="assets/raibu.jpg" class="card-img-top" alt="ライブ画像">
          <div class="card-body">
          <h5 class="card-title">アカペラライブ</h5>
          <p class="card-text">2019年12月</p>
          <p class="card-text">400名規模の会場に300名以上の学生が観客として来場しました！<br>
          素晴らしいハーモニーでアカペラの知名度に貢献しました。</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/undoukai-1.webp" class="card-img-top" alt="近大運動会">
        <div class="card-body">
        <h5 class="card-title">近大一回生運動会</h5>
        <p class="card-text">2018年11月</p>
        <p class="card-text">一回生限定で運動会を行いました！！<br>
        知らない人達と一緒に運動会をすることでいつの間にか友達になっていました！<br>
        友達と体を動かすのはやっぱり最高ですね！
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/mokumoku.jpg" class="card-img-top" alt="近もく会">
      <div class="card-body">
      <h5 class="card-title">近もく会</h5>
        <p class="card-text">2019年11月</p>
        <p class="card-text">
        近大生でプログラマーを目指している人達で毎週集まっています！<br>
        これからも続けるので新規メンバーお待ちしております！
        </p>
      </div>
    </div>
  </div>
</div>