<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>イベント編集ページ</em></b></h4>
  </div>
</div>



<%= form_with(model: @event, local: true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <div class="article-box">
    記事を投稿する
    <%= f.text_field :title, class:"title", placeholder:"タイトル" %>
    <%= f.text_area :details, class:"text", placeholder:"詳細" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
    <%= f.collection_select(:event_prefecture_id, EventPrefecture.all, :id, :name, {}, {class:"category-select"}) %>
    <%= f.collection_select(:people_number_id, PeopleNumber.all, :id, :name, {}, {class:"category-select"}) %>
    <%= f.text_field :cost %>
    <%= f.date_field :event_date %>
    <%= f.time_field :start_time %>
    <%= f.time_field :end_time %>
    <%= f.attachment_field :event_image %>
    <%= f.submit "投稿する" ,class:"btn" %>
  </div>
<% end %>