<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>イベント詳細ページ</em></b></h4>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="card mt-5 border mx-auto" style="width: 20rem;">
    <div class="article-text">
      <%= attachment_image_tag @event, :event_image, class: "card-img-top" , fallback: "no-event-image.png" %>    
    </div>
      <div class="card-body">
        <div class="article-title">
          タイトル：<%= @event.title %>
        </div>
        <div class="article-text">
          詳細：<%= @event.details %>
        </div>
        <div class="article-genre">
          ジャンル：<%= @event.category.name %>
        </div>
        <div class="article-title">
          開催エリア：<%= @event.event_prefecture.name %>
        </div>
        <div class="article-text">
          参加可能人数：<%= @event.people_number.name %>
        </div>
        <div class="article-title">
          参加費用：<%= @event.cost %>
        </div>
        <div class="article-text">
          イベント日時：<%= @event.event_date %>
        </div>
        <div class="article-text">
          開始時間：<%= @event.start_time %>
        </div>
        <div class="article-text">
          終了時間：<%= @event.end_time %>
        </div>
        <div class="article-text">
          主催者：<%= @event.user.nickname %>
        </div>
    <% if current_user.already_favorited?(@event) %>
      <%= link_to event_favorites_path(@event), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to event_favorites_path(@event), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <%= @event.favorites.count %>
        <% if @event.user.id == current_user.id %>
          <%= link_to "編集", edit_event_path(@event), class: "btn btn-primary col-4 offset-4 mt-3" %>
        <% end %>
    </div>
  </div>
</div>
</div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@event, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <% unless @event.entries.map(&:user_id).include? current_user.id or @event.user_id == current_user.id %>
    <%= link_to 'エントリーへ', new_event_entry_path(@event.id), method: :get , class: "nav-link ms-1 text-dark" %>
  <% end %>
  <p>エントリー者数：<%= @event.entries.count %></p>
  <% if @event.user_id == current_user.id %>
    <p>エントリー者一覧</p>
  <% @entrys.each do |entry| %>
    <% if entry.event_id == @event.id %>
      <div>
        <%= link_to user_path(entry.user_id), method: :get do %>
          <%= entry.j_family_name %>
          <%= entry.j_last_name %>
        <% end %>
          性別：<%= entry.sex %>
          学年：<%= entry.entry_school_year %><br>
          <%= entry.entry_comment %>
      </div>
    <% end %>
  <% end %>
  <% end %>
  