<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>イベント詳細ページ</em></b></h4>
  </div>
</div>

<div class="container pb-5">
 <div class="event-card card mb-3 mt-5 border border-5" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= attachment_image_tag @event, :event_image, class: "card-img-top" , fallback: "no-event-image.png" %>   
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">タイトル：<%= @event.title %></h5>
        <p class="card-text">詳細：<%= @event.details %></p>
        <div class="parent-text d-flex justify-content-start border p-2">
        <div class="left-text">
        <p class="card-text">ジャンル：<%= @event.category.name %></p>
        <p class="card-text">開催エリア：<%= @event.event_prefecture.name %></p>
        <p class="card-text">参加可能人数：<%= @event.people_number.name %></p>
        <p class="card-text">参加費用：<%= @event.cost %>円</p>
            <% if current_user.already_favorited?(@event) %>
      <%= link_to event_favorites_path(@event), method: :delete, class: "text-decoration-none text-dark border-top mt-3" do %>
        <i class="fas fa-heart text-danger"></i>いいね！
      <% end %>
    <% else %>
      <%= link_to event_favorites_path(@event), method: :post, class: "text-decoration-none text-dark border-top mt-3" do %>
        <i class="far fa-heart text-danger"></i>いいね！
      <% end %>
    <% end %>
    <%= @event.favorites.count %>
        </div>
        <div class="right-text ms-5">
        <p class="card-text">イベント日時：<%= @event.event_date %></p>
        <p class="card-text">開始時間：<%= @event.start_time %></p>
        <p class="card-text">終了時間：<%= @event.end_time %></p>
        <p>現在のエントリー者数：<%= @event.entries.count %></p>
          <%= link_to  user_path(@event.user), method: :get, class: "text-decoration-none" do %>
        <p class="card-text"><small class="text-muted">主催者：<%= @event.user.nickname %></small></p>
          <% end %>
        <% if @event.user.id == current_user.id %>
          <%= link_to "編集", edit_event_path(@event), class: "btn btn-primary col-4 offset-4 mt-3" %>
        <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <% unless @event.entries.map(&:user_id).include? current_user.id or @event.user_id == current_user.id  %>
    <div class="d-flex justify-content-center">
      <%= link_to 'このイベントにエントリー', new_event_entry_path(@event.id), method: :get , class: "btn btn-info nav-link text-dark col-3" %>
    </div>
  <% end %>

  <% if @event.entries.map(&:user_id).include? current_user.id  %>
    <h5 class="text-center"><span class="badge bg-danger">エントリー済み</span></h5>
  <% end %>

  <div class="text-center">
    <p>※（エントリーキャンセルについては主催者へチャットでご連絡ください。）</p>
  </div>




  <div class="border border-2 rounded mt-2 p-3">
    <div class="comments">
      <div class="border-bottom border-2 mb-3 p-2"><h4>＜コメント一覧＞</h4></div>
      <% if @comments.blank? %>
        <p class="my-3"><small class="text-muted">※ まだコメントはありません。</small></p>
      <% else %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= form_with(model: [@event, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "form-control col-3" %>
        <%= form.submit "送信", class: "mt-2 mb-5" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <% if @event.user_id == current_user.id %>
    <h4 class="mt-3">＜エントリー者一覧＞</h4>
    <p class="ms-3">現在のエントリー者数：<%= @event.entries.count %></p>
  <% @entrys.each do |entry| %>
    <% if entry.event_id == @event.id %>
      <div class="border p-2 my-2">
          <%= link_to user_path(entry.user_id), method: :get do %>
          <%= entry.j_family_name %>
          <%= entry.j_last_name %>さん
        <% end %>
          <span class="mx-1">学部：<%= entry.entry_undergraduate %></span>
          <span class="mx-1">性別：<%= entry.sex %></span>
          <span class="mx-1">学年：<%= entry.entry_school_year %></span>
          <br>
          あなたへのコメント：<%= entry.entry_comment %>
      </div>
    <% end %>
  <% end %>
  <% end %>


</div>
